.app {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: var(--Neutral-90, #e1e2e3);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .camera-section {
    width: 100%;
    background: var(--Neutral-5, #181a1b);
    border-bottom: 1px solid var(--Neutral-30, #404547);
    position: relative;

    video {
      background: var(--Neutral-10, #1f2223);
      border-radius: 8px;
      margin: 1rem auto;
    }

    &:empty {
      display: none;
    }
  }

  .content-section {
    flex: 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .initial-screen {
    margin: auto;
    min-width: 200px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    gap: 1rem;

    .spacer {
      flex-grow: 1;
    }

    h1 {
      color: var(--Neutral-100, #fff);
      text-align: center;
      font-family: "Space Mono";
      font-size: 1.4rem;
      font-weight: 400;
      line-height: normal;
    }

    .initialMessageInput {
      width: 100%;
      max-width: 450px;
      margin: 1rem auto;
      padding: 0.5rem;
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--Neutral-30, #404547);
      color: var(--Neutral-100, #fff);
      font-family: "Google Sans";
      font-size: 1.2rem;
      text-align: center;
      outline: none;

      &:hover,
      &:focus,
      &:active {
        border-bottom-color: var(--Neutral-90, #e1e2e3);
      }

      &::placeholder {
        color: var(--Neutral-30, #404547);
      }

      &:focus::placeholder,
      &:active::placeholder {
        color: var(--Neutral-5, #181a1b);
      }
    }
  }

  .list-screen {
    padding: 2.5rem 2.5rem 10rem 2.5rem;
    margin: auto;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 1rem;
  }
}
